:root {
	--main-color: #2C88CB;
	--hover-btn-color: #FDC32F;
}

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #F9F9F9;
}

/* Header */
header {
	height: 550px;
	width: 100%;
	background-image: url('images/header-background.jpg');
}

header {
	display: flex;
}

header h1 {
	font-size: 6em;
	line-height: 0.2em;
}

header h2 {
	font-size: 2.25em;
}

header h2 span {
	color: var(--main-color);
}

.headerbox-left {
	padding: 100px;
	width: 60%;
	height: 100%;
	background-color: #fff;
	opacity: .80;
	box-sizing: border-box;
}

.headerbox-left p {
	font-size: 1.125em;
}

.rounded-image {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

header img {
	position: absolute;
	top: 20%;
	left: 50%;
	max-height: 250px;
	height: auto;
	max-width: 250px;
	width: auto;
	opacity: 1;
	z-index: 1;
	-webkit-box-shadow: 5px 5px 15px 1px rgba(176,176,176,1);
	-moz-box-shadow: 5px 5px 15px 1px rgba(176,176,176,1);
	box-shadow: 5px 5px 15px 1px rgba(176,176,176,1);
}

.headerbox-right {
	width: 40%;
	height: 100%;
	background-color: rgba(44, 136, 203, 0.95);
	font-weight: bold;
}

.headerbox-right .header-hr {
	position: absolute;
	width: 100px;
	height: 0px;
	right: 2.5em;
	top: 500px;
	border: 1px solid #fff;
}

.headerbox-right .header-useful-links {
	position: absolute;
	top: 440px;
	right: 1.5em;
	font-size: 0.9em;
	font-weight: 400;
	color: #fff;
	padding: 1.5em;
}

header nav {
	margin-top: 1.875em;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style: none;
}

header nav ul li a {
	margin-right: 2.5em;
	font-size: 1.125em;
	color: #fff;
	text-decoration: none;
}

/* Main */
main h2 {
	margin-top: 75px;
	font-size: 2em;
	text-align: center;
}

main h3 {
	font-size: 2em;
}

.box-shadow {
	-webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

/* Call to Action */
.cta-box {
	background-color: #fff;
	width: 100%;
	height: 220px;
}

.cta-txt {
	position: relative;
	top: 25px;
	margin: 0 auto;
	font-size: 2.25em;
	text-align: center;
}

.btn-box {
	display: flex;
	justify-content: center;
	position: relative;
	top: 50px;
}

.btn-contact {
	margin: 20px;
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: var(--main-color);
	font-weight: bold;
	color: #fff;
	border: 1px solid var(--main-color);
	box-sizing: border-box;
}

.btn-contact:hover{
	background-color: var(--hover-btn-color);
	border: 1px solid var(--hover-btn-color);
}

.btn-cv {
	margin: 20px;
	width: 200px;
	height: 50px;
	background-color: #fff;
	font-weight: bold;
	color: var(--main-color);
	border-radius: 50px;
	border: 1px solid var(--main-color);
	box-sizing: border-box;
}

.btn-cv:hover {
	color: var(--hover-btn-color);
	border: 1px solid var(--hover-btn-color);
}

/* About box */
.about-box {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.about-txt-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #fff;
	height: 275px;
	padding: 25px 100px;
}

.about-txt-box ul {
	width: 30%;
	line-height: 40px;
	list-style-type: none;
}

.about-txt-box .vertical-line {
	width: 220px;
	height: 0px;
	border: 0.25px solid var(--main-color);
	transform: rotate(90deg);
}

.about-txt-box p {
	width: 70%;
	font-size: 1em;
	line-height: 31px;
	letter-spacing: 0.04em;
}

.about-txt-box li {
	font-size: 1em;
	font-weight: bold;
}

.about-featured {
	color: var(--main-color);
	font-weight: bold;
}

/* Skills box */
.skills-box {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.skills-box h3 {
	text-align: center;
}

.skills-box .hard-skills-box {
	background-color: #fff;
	height: 350px;
	width: 49%;
	float: left;
}

.skills-box .soft-skills-box {
	background-color: #fff;
	height: 350px;
	width: 49%;
	float: right;
}

.skills-box .label-bars-box {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.skills-box .label-bars-box p {
	width: 80%;
	text-align: left;
}

.skills-box progress {
  appearance: progress-bar;
	-webkit-appearance: progress-bar;
	width: 80%;
	height: 10px;
	border-radius: 20px;
	border: 0;
}

.skills-box progress[value]::-webkit-progress-value {
	background: linear-gradient(90deg, var(--main-color) 0%, #62BDFF 100%);
	border-radius: 20px;
}

.skills-box progress[value]::-webkit-progress-bar {
	background: #E7E7E7;
	border-radius: 20px;
}

.skills-box progress::-moz-progress-bar  {
	background: linear-gradient(90deg, var(--main-color) 0%, #62BDFF 100%);
	border-radius: 20px;
}

/* Portfolio box */
.portfolio-box {
	display: inline-block;
	width: 100%;
}

.portfolio-images {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.portfolio-images div {
	width: 32%;
	height: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}

.portfolio-images h4 {
	font-weight: bold;
	font-size: 1.125em;
	margin-bottom: 0;
	padding: 0 10px;
}

.portfolio-images .portfolio-website {
	color: var(--main-color);
	font-weight: bold;
	font-size: 0.875em;
	padding: 0 10px;
}

.portfolio-images .portfolio-shorttxt {
	color: #A0A0A0;
	font-size: 0.875em;
	padding: 0 10px;
}
.portfolio-images div img {
	width: 100%;
}