:root {
	--main-color: #2C88CB;
	--hover-btn-color: #FDC32F;
}

body {
	font-family: 'Ubuntu', sans-serif;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #F9F9F9;
}

/* Header */
header {
	display: flex;
	height: 550px;
	width: 100%;
	background-image: url('images/header-background.jpg');
}

header h1 {
	font-size: 6em;
	line-height: 0.2em;
}

header h2 {
	font-size: 2.25em;
}

header h2 span {
	color: var(--main-color);
}

.headerbox-left {
	padding: 100px;
	width: 60%;
	height: 100%;
	background-color: #fff;
	opacity: .80;
	box-sizing: border-box;
}

.headerbox-left p {
	font-size: 1.125em;
}

.rounded-image {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

header img {
	position: absolute;
	top: 20%;
	left: 50%;
	max-height: 250px;
	height: auto;
	max-width: 250px;
	width: auto;
	opacity: 1;
	z-index: 1;
	-webkit-box-shadow: 5px 5px 15px 1px rgba(176,176,176,1);
	-moz-box-shadow: 5px 5px 15px 1px rgba(176,176,176,1);
	box-shadow: 5px 5px 15px 1px rgba(176,176,176,1);
}

.headerbox-right {
	width: 40%;
	height: 100%;
	background-color: rgba(44, 136, 203, 0.95);
	font-weight: bold;
}

.headerbox-right .header-hr {
	position: absolute;
	width: 100px;
	height: 0;
	right: 2.5em;
	top: 500px;
	border: 1px solid #fff;
}

.headerbox-right .header-useful-links {
	position: absolute;
	top: 440px;
	right: 1em;
	font-size: 0.9em;
	font-weight: 400;
	color: #fff;
	padding: 2em;
}

.headerbox-right .useful-links {
	position: absolute;
	top: 510px;
	right: 1em;
	display: flex;
	flex-flow: row wrap;
  color: white;
  font-size: 1.75em;
}

.headerbox-right .useful-links i:hover {
  transition: all .3s;
  color: rgba(255, 255, 255, 0.3)
}

header nav {
	margin-top: 1.875em;
}

header nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style: none;
}

header nav ul li a {
	margin-right: 2.5em;
	font-size: 1.125em;
	color: #fff;
	text-decoration: none;
}

/* Main */
main h2 {
	margin-top: 75px;
	font-size: 2em;
	text-align: center;
}

main h3 {
	font-size: 2em;
}

.box-shadow {
	-webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

/* Call to Action */
.cta-box {
	background-color: #fff;
	width: 100%;
	height: 220px;
}

.cta-txt {
	position: relative;
	top: 25px;
	margin: 0 auto;
	font-size: 2.25em;
	text-align: center;
}

.btn-box {
	display: flex;
	justify-content: center;
	position: relative;
	top: 50px;
}

.btn-contact {
	margin: 20px;
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: var(--main-color);
	font-weight: bold;
	color: #fff;
	border: 1px solid var(--main-color);
	box-sizing: border-box;
}

.btn-contact:hover{
	background-color: var(--hover-btn-color);
	border: 1px solid var(--hover-btn-color);
}

.btn-cv {
	margin: 20px;
	width: 200px;
	height: 50px;
	background-color: #fff;
	font-weight: bold;
	color: var(--main-color);
	border-radius: 50px;
	border: 1px solid var(--main-color);
	box-sizing: border-box;
}

.btn-cv:hover {
	color: var(--hover-btn-color);
	border: 1px solid var(--hover-btn-color);
}

/* About box */
.about-box {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.about-txt-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #fff;
	height: 275px;
	padding: 25px 100px;
}

.about-txt-box ul {
	width: 30%;
	line-height: 40px;
	list-style-type: none;
}

.about-txt-box .vertical-line {
	width: 220px;
	border: 0.25px solid var(--main-color);
	transform: rotate(90deg);
}

.about-txt-box p {
	width: 70%;
	font-size: 1em;
	line-height: 31px;
	letter-spacing: 0.04em;
}

.about-txt-box li {
	font-size: 1em;
	font-weight: bold;
}

.about-featured {
	color: var(--main-color);
	font-weight: bold;
}

/* Skills box */
.skills-box {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.skills-box h3 {
	text-align: center;
}

.skills-box .skill-underline {
 	position: relative;
 	top: 75px;
 	left: 51%;
  width: 12%;
  border-bottom: 2px solid var(--main-color);
}

.skills-box .hard-skills-box {
	background-color: #fff;
	height: 350px;
	width: 49%;
	float: left;
}

.skills-box .soft-skills-box {
	background-color: #fff;
	height: 350px;
	width: 49%;
	float: right;
}

.skills-box .label-bars-box {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.skills-box .label-bars-box p {
	width: 80%;
	text-align: left;
}

.skills-box progress {
  appearance: progress-bar;
	-webkit-appearance: progress-bar;
	width: 80%;
	height: 10px;
	border-radius: 20px;
	border: 0;
}

.skills-box progress[value]::-webkit-progress-value {
	background: linear-gradient(90deg, var(--main-color) 0%, #62BDFF 100%);
	border-radius: 20px;
}

.skills-box progress[value]::-webkit-progress-bar {
	background: #E7E7E7;
	border-radius: 20px;
}

.skills-box progress::-moz-progress-bar  {
	background: linear-gradient(90deg, var(--main-color) 0%, #62BDFF 100%);
	border-radius: 20px;
}

/* Portfolio box */
.portfolio-box {
	display: inline-block;
	width: 100%;
}

.portfolio-images {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.portfolio-images div {
	width: 32%;
}

.portfolio-images .img-box img:hover {
	opacity: 0.3;
}

.portfolio-images .img-box {
	height: 100%;
	background-color: #fff;
	margin-bottom: 20px;
}

.portfolio-images h4 {
	font-weight: bold;
	font-size: 1.125em;
	margin-bottom: 0;
	padding: 0 10px;
}

.portfolio-images .portfolio-website {
	color: var(--main-color);
	font-weight: bold;
	font-size: 0.875em;
	padding: 0 10px;
}

.portfolio-images .portfolio-shorttxt {
	color: #A0A0A0;
	font-size: 0.875em;
	padding: 0 10px;
}
.portfolio-images .img-box img {
	width: 100%;
}

/* Footer */
footer {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background-color: #FFFFFF;
	height: 100%;
	padding: 50px 0;
}

footer .contact-box {
	display: flex;
	flex-flow: row nowrap;
	width: 90%;
	padding: 25px;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Contact Details */
footer .contact-details {
	width: 33%;
	padding: 25px 60px 25px 25px;
	box-sizing: border-box;
	color: white; 
	font-size: 1em;
	background-color: var(--main-color);
}

footer .contact-details .contact-details-underline {
	width: 45%;
    padding-top: 20px;
    border-bottom: 1px solid white;
}

footer .contact-details .contact-info {
	position: relative;
	top: 150px;
}

footer .contact-details .footer-useful-links {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
    color: white;
    font-size: 2em;
}

footer .contact-details .footer-useful-links i:hover {
    transition: all .3s;
    color: rgba(255, 255, 255, 0.3)
}

/* Contact Form */
footer h3 {
	text-align: center;
	font-size: 2em;
	color: rgb(44, 136, 203);
}

footer .contact-form {
	width: 67%;
	padding: 15px;
	background-color: #F9F9F9;
	box-sizing: border-box;
}

footer .contact-form input, textarea {
	display: block;
	width: 70%;
	border: none;
	color: #A0A0A0;
	font-size: 1em;
	border-bottom: 1px solid var(--main-color);
	background-color: #F9F9F9;
	margin: 0 auto;
	margin-bottom: 40px;
}

/* Copyright box */
footer .copyright-box {
	text-align: center;
	color: #A0A0A0;
	font-size: 0.875em;
}

/* Mobile small */
@media only screen and (max-width: 399px) {

	header h1 {
		font-size: 1.75em;
		line-height: 1em;
	}

	header h2 {
		font-size: 1.3em;
	}

	header {
		height: 550px;
		overflow: hidden;
	}

	.headerbox-left p {
		font-size: 1em;
	}

	.headerbox-left {
		position: absolute;
		padding: 30px;
		width: 100%;
		height: 50%;
		top: 0;
		background-color: #fff;
		opacity: .80;
		box-sizing: border-box;
	}

	header img {
		top: 40%;
		left: 50%;
		max-height: 150px;
		max-width: 150px;
	}

	.headerbox-right {
		position: absolute;
		top: 50%;
		width: 100%;
		height: 51%;
		background-color: rgba(44, 136, 203, 0.95);
		font-weight: bold;
	}

	.headerbox-right .header-hr {
		display: none;
	}

	.headerbox-right .header-useful-links {
		display: none;
	}

	header nav {
		margin-top: 1.875em;
	}

	header nav ul {
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.cta-txt {
		font-size: 1.6em;
		padding: 0 15px;
		overflow: hidden;

	}

	.btn-contact {
		width: 170px;
		height: 40px;
	}

	.btn-cv {
		width: 170px;
		height: 40px;
	}

	.skills-box {
		display: flex;
		flex-flow: column nowrap;
		width: 90%;
	}

	.skills-box .hard-skills-box {
		height: 350px;
		width: 100%;
		float: none;
	}

	.skills-box .soft-skills-box {
		height: 350px;
		width: 100%;
		float: none;
	}

	.about-txt-box {
		flex-flow: column nowrap;
		padding: 25px 50px;
		height: 100%;
	}

	.about-txt-box ul {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
	}

	.about-txt-box p {
		width: 100%;
		line-height: 1.5em;
		text-align: justify;
	}

	.about-txt-box .vertical-line {
		width: 220px;
		border: 0.25px solid var(--main-color);
		transform: rotate(180deg);
	}

	.portfolio-images div {
		width: 90%;
	}

	footer {
		height: 100%;
	}

	footer .contact-box {
		flex-flow: column nowrap;
	}

	footer .contact-details {
		width: 100%;
	}

	footer h3 {
		font-size: 1.5em;
	}

	footer .contact-form {
		width: 100%;
	}

	footer .contact-form input, textarea {
		font-size: 0.85em;
	}

	footer .contact-details .contact-info {
		position: relative;
		top: 15px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 599px) {

	header h1 {
		font-size: 1.75em;
		line-height: 1em;
	}

	header h2 {
		font-size: 1.3em;
	}

	header {
		height: 490px;
	}

	.headerbox-left p {
		font-size: 1em;
	}

	.headerbox-left {
		position: absolute;
		padding: 30px;
		width: 100%;
		height: 40%;
		top: 0;
		background-color: #fff;
		opacity: .80;
		box-sizing: border-box;
	}

	header img {
		top: 30%;
		left: 60%;
		max-height: 150px;
		max-width: 150px;
	}

	.headerbox-right {
		position: absolute;
		top: 40%;
		width: 100%;
		height: 40%;
		background-color: rgba(44, 136, 203, 0.95);
		font-weight: bold;
	}

	.headerbox-right .header-hr {
		display: none;
	}

	.headerbox-right .header-useful-links {
		display: none;
	}

	header nav {
		margin-top: 1.875em;
	}

	header nav ul {
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.cta-txt {
		font-size: 1.85em;
	}

	.btn-contact {
		width: 170px;
		height: 40px;
	}

	.btn-cv {
		width: 170px;
		height: 40px;
	}

	.skills-box {
		display: flex;
		flex-flow: column nowrap;
		width: 90%;
	}

	.skills-box .hard-skills-box {
		height: 350px;
		width: 100%;
		float: none;
	}

	.skills-box .soft-skills-box {
		height: 350px;
		width: 100%;
		float: none;
	}

	.about-txt-box {
		flex-flow: column nowrap;
		padding: 25px 50px;
		height: 100%;
	}

	.about-txt-box ul {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		/*flex-wrap: wrap;*/
	}

	.about-txt-box p {
		width: 100%;
		text-align: justify;
	}

	.about-txt-box .vertical-line {
		width: 220px;
		border: 0.25px solid var(--main-color);
		transform: rotate(180deg);
	}

	.skills-box .skill-underline {
	    width: 14%;
	}

	.portfolio-images div {
		width: 90%;
	}

	footer {
		height: 100%;
	}

	footer .contact-box {
		flex-flow: column nowrap;
	}

	footer .contact-details {
		width: 100%;
	}

	footer h3 {
		font-size: 1.5em;
	}

	footer .contact-form {
		width: 100%;
	}

	footer .contact-form input, textarea {
		font-size: 0.85em;
	}

	footer .contact-details .contact-info {
		position: relative;
		top: 15px;
	}
}

/* Mobile Medium */
@media only screen and (min-width: 600px) and (max-width: 799px) {

	header nav ul {
		flex-flow: column wrap;
		align-items: flex-end;
	}

	header nav ul li a {
		font-size: 1em;
	}

	header h1 {
		font-size: 2.75em;
		line-height: 1em;
	}

	header h2 {
		font-size: 1.5em;
	}

	.headerbox-left p {
		font-size: 0.85em;
	}

	header img {
		left:  47%;
		max-width: 180px;
		max-height: 180px;
	}

	.cta-txt {
		font-size: 1.85em;
	}

	.btn-contact {
		width: 170px;
		height: 40px;
	}

	.btn-cv {
		width: 170px;
		height: 40px;
	}

	.about-txt-box {
		flex-flow: column nowrap;
		height: 100%;
	}

	.about-txt-box ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.about-txt-box p {
		width: 100%;
		text-align: justify;
	}

	.about-txt-box .vertical-line {
		width: 220px;
		border: 0.25px solid var(--main-color);
		transform: rotate(180deg);
	}

	.skills-box .skill-underline {
	    width: 19%;
	}

	.portfolio-images div {
		width: 48%;
	}

	footer {
		height: 100%;
	}

	footer .contact-box {
		flex-flow: column nowrap;
	}

	footer .contact-details {
		width: 90%;
	}

	footer h3 {
		font-size: 1.5em;
	}

	footer .contact-form {
		width: 90%;
	}

	footer .contact-form input, textarea {
		font-size: 0.85em;
	}

	footer .contact-details .contact-info {
		position: relative;
		top: 15px;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
	header img {
		left:  49%;
		max-width: 200px;
		max-height: 200px;
	}

	header nav ul li a {
		font-size: 0.8em;
	}

	header h1 {
		font-size: 4em;
	}

	header h2 {
		font-size: 1.75em;
	}

	.headerbox-left p {
		font-size: 1em;
	}

	.about-txt-box p {
		width: 70%;
		font-size: 0.8em;
		line-height: 20px;
		letter-spacing: 0.04em;
	}

	.about-txt-box ul {
		line-height: 20px;
	}

	.about-txt-box li {
		font-size: 0.8em;
		font-weight: bold;
	}

	.skills-box .skill-underline {
	    width: 17%;
	}

	footer .contact-details {
		font-size: 0.85em;
	}

	footer h3 {
		font-size: 1.85em;
	}

	footer .contact-form input, textarea {
		font-size: 0.85em;
	}

	footer .contact-details .contact-info {
		position: relative;
		top: 40px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	header img {
		left:  49%;
		max-height: 250px;
		max-width: 250px;
	}
	
	header nav ul li a {
		font-size: 1em;
	}

	header h1 {
		font-size: 4em;
	}

	header h2 {
		font-size: 1.75em;
	}

	.headerbox-left p {
		font-size: 1em;
	}

	.about-txt-box p {
		width: 70%;
		font-size: 0.85em;
		line-height: 31px;
		letter-spacing: 0.04em;
	}

	.about-txt-box li {
		font-size: 0.85em;
		font-weight: bold;
	}

	.skills-box .skill-underline {
	    width: 13%;
	}

	footer .contact-details {
		font-size: 0.85em;
	}

	footer h3 {
		font-size: 1.85em;
	}

	footer .contact-form input, textarea {
		font-size: 0.85em;
	}

	footer .contact-details .contact-info {
		position: relative;
		top: 70px;
	}
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
	header img {
		left:  52%;
	}

	header h1 {
		font-size: 5em;
	}

	header h2 {
		font-size: 2em;
	}

	.headerbox-left p {
		font-size: 1.25em;
	}
}

@media only screen and (min-width: 1600px) {
	header img {
		left:  53%;
	}
}